@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --gap-columns: 20px;
  --color-white: #fff;
  --color-black: #000;
  --color-text: #263238;
  --color-grey: #eeeeee;
  --color-grey-dark: #62757f;
}

/* ========= BEGIN GENERALS ========= */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-grey);
  margin: 0;
  padding: 0;
  color: var(--color-text);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 var(--gap-columns);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.clear_link {
  text-decoration: none;
  color: inherit;
}
/* ========= END GENERALS ========= */

/* ========= BEGIN HEADER ========= */
#header {
  height: 130px;
  padding: var(--gap-columns) 0;
}

.header_logo {
  margin-right: var(--gap-columns);
}

.header_titulo {
  margin: 0;
  padding: 0;
  font-size: 2rem;
}

.menu-header-container {
  margin-left: auto;
}

.menu-header-container ul {
  padding: 0;
  list-style: none;
  display: flex;
}

.menu-header-container a {
  color: inherit;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0 calc(var(--gap-columns) / 2);
}
/* ========= END HEADER ========= */

/* ========= BEGIN MAIN ========= */
#main {
  min-height: calc(100vh - (130px + 100px));
}
/* ========= END MAIN ========= */

/* ========= BEGIN CONTENT ========= */
#content {
  flex: 2;
}
/* ========= END CONTENT ========= */

/* ========= BEGIN SIDEBAR ========= */
#sidebar {
  flex: 1;
  margin-left: var(--gap-columns);
}
/* ========= END SIDEBAR ========= */

/* ========= BEGIN FOOTER ========= */
#footer {
  height: 100px;
  padding: var(--gap-columns) 0;
  background-color: var(--color-grey-dark);
  color: var(--color-white);
  text-align: center;
}

#footer .container {
  height: 100%;
}
/* ========= END FOOTER ========= */
